.reveal section img {
border: 0px;
//background: transparent;
}

.reveal .fullimg {
height: 95%;
width: auto;
border: 0px;
box-shadow: 0 0 0 0;
background: transparent;
 }

/* Brighter default font colour */
.reveal {
color: #eee8d5;
 }

/* Strikethrough text */
.strike {
text-decoration: line-through;
color: #aaa8a5
}

.reveal pre.split {
width: 49.5%;
}

.reveal pre {
/* Remove shadow boxes from code blocks */
box-shadow: 0 0 0 0;
width: 90%;
}

.floatl {
float: left;
}

.floatr {
float: right;
}

.left {
text-align: left;
